.header {
  position: absolute;
  width: 100%;
  top: 0;
  z-index: 1000;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  padding: 1rem 0;
}

.original {
  background-color: white;
}

.original .navLink {
  color: #f28c38;
}

.original .hamburgerIcon {
  color: #f28c38;
}

.scrolled {
  position: fixed;
  background-color: #0F5179;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2rem;
}

.logoLink {
  display: flex;
  align-items: center;
}

.logo {
  height: 64px;
  width: auto;
}

.nav {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  position: relative;
}

.navList {
  display: flex;
  list-style: none;
  gap: 3rem;
  margin: 0;
  padding: 0;
  
}

.navItem {
  display: flex;
  align-items: center;
  
}

.navLink {
  text-decoration: none;
  font-weight: 500;
  font-size: 1.1rem;
  transition: color 0.3s ease;
  padding: 0.5rem 0;
  color: white;
  font-weight: 600;
}

.navLink:hover {
  color: #4fc3f7;
}

.active {
  color: #f28c38;
  border-bottom: 2px solid #f28c38;
}

.buttonContainer {
  display: flex;
  align-items: center;
}

.navLinkButton {
  color: white;
  text-decoration: none;
  font-weight: 600;
  font-size: 1rem;
  background-color: #f28c38;
  padding: 0.6rem 1.8rem;
  border-radius: 27px;
  transition: background-color 0.3s ease, transform 0.2s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navLinkButton:scrolled {
  border: 1px solid white;
  color: white;
}

.navLinkButton:hover {
  background-color: #e07b2c;
  transform: translateY(-1px);
}

.navLinkButton.active {
  background-color: #e07b2c;
}

.hamburger {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0.5rem;
  font-size: 1.5rem;
}

.hamburgerIcon {
  color: white;
}

/* Only show this list item on mobile */
.mobileOnly {
  display: none;
}

@media (max-width: 768px) {
  .nav {
    justify-content: flex-end;
  }

  .hamburger {
    display: block;
  }

  .navList {
    display: none;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #0F5179;
    width: 100%;
    padding: 1rem 0;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  }

  .navListOpen {
    display: flex;
  }

  .navItem {
    margin: 0.5rem 0;
  }

  .buttonContainer {
    display: none;
  }

  .navLinkButton {
    width: 80%;
    text-align: center;
    margin: 0.5rem 0;
  }

  .active {
    border-bottom: none;
    color: #f28c38;
  }

  .mobileOnly {
    display: flex;
  }
}
